<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offres</title>
</head>
<body>
    <h1>Choisissez une offre :</h1>

    <form action="{{ path('payment') }}" method="post">
        <label for="offre">Offre :</label>
        <select name="offre_pub" id="offre">
            <option value="3 mois">Offre 3 mois - 50 DT</option>
            <option value="6 mois">Offre 6 mois - 90 DT</option>
            <option value="9 mois">Offre 9 mois - 130 DT</option>
        </select>

        <br><br>

        <label for="numero_carte">Numéro de votre carte :</label>
        <input type="text" id="numero_carte" name="numero_carte" required>

        <br><br>

        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom" required>

        <br><br>

        <label for="prenom">Prénom :</label>
        <input type="text" id="prenom" name="prenom" required>

        <br><br>

        <button type="submit">Payer</button>
    </form>
</body>
</html>
  