{% extends 'base-back.html.twig' %}

{% block title %}Ajouter une tâche{% endblock %}

{% block body %}
    <h1>Ajouter une tâche</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}
