{% extends 'base-back.html.twig' %}

{% block title %}Modifier Événement{% endblock %}

{% block body %}
    <h1>Modifier Événement</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <a href="{{ path('evenement_list') }}" class="btn btn-secondary">Annuler</a>
    {{ form_end(form) }}
{% endblock %}
